<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="notice">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>计算机课程推荐（点击图片）</h4>
        <a href="https://www.zhihu.com/question/29224038/answer/80557327" target="_blank">
            <img class="img-thumbnail question-wechat" src="/images/manong1.jpg">
        </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side" >
        <h4>计算机知识图谱（点击图片）</h4>
        <a href="https://www.jianshu.com/p/f29f836d30e1" target="_blank">
            <img class="img-thumbnail question-wechat" src="/images/manong2.jpg">
        </a>
    </div>
</div>
</body>
</html>
